.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: underline;
}

.nav-tabs {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1090px;
  max-width: 1090px;
  min-width: 1090px;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.header {
  position: absolute;
  left: auto;
  top: 10px;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1090px;
  max-width: 1090px;
  min-width: 1090px;
  padding: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.grid {
  position: relative;
  left: auto;
  top: 0px;
  right: auto;
  width: 1090px;
  height: auto;
  max-width: 1090px;
  min-width: 1090px;
  padding: 10px;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-flow: row;
  grid-auto-rows: minmax(auto, 10%);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-areas: ". Area-7"
    "Area-4 Area-5"
    "Area-4 Area-8"
    "Area-3 Area-3";
  -ms-grid-rows: minmax(100px, 100px) 25px minmax(auto, 350px) 25px minmax(auto, 250px) 25px minmax(100px, 100fr);
  grid-template-rows: minmax(100px, 100px) minmax(auto, 350px) minmax(auto, 250px) minmax(100px, 100fr);
}

.nav-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  margin-right: 10px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 10px;
  background-color: transparent;
  color: #000;
  text-decoration: none;
}

.nav-buttons:hover {
  background-color: #9251f7;
  color: #fff;
}

.nav-buttons:focus {
  background-color: #9251f7;
  color: #fff;
}

.nav-buttons.w--current {
  height: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #9251f7;
  color: #fff;
}

.nav-buttons.w--current:hover {
  color: #fff;
}

.nav-buttons.w--current:focus {
  color: #fff;
}

.nav-buttons.end {
  margin-right: 0px;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #eeedf3;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  -o-object-fit: fill;
  object-fit: fill;
}

.profile-wrapper {
  width: 500px;
  max-width: 500px;
  min-width: 500px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
  text-align: right;
}

.hi-wrapper {
  width: 500px;
  max-width: 500px;
  min-width: 500px;
  background-color: transparent;
}

.image {
  display: inline-block;
  text-align: right;
}

.icon {
  width: 30px;
  height: 30px;
  max-width: 30px;
  min-height: 30px;
  min-width: 30px;
}

.icon:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.icon:active {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.icon:focus {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.icon.current {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.tab-label {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.heading {
  color: #000;
  font-size: 30px;
  font-weight: 700;
}

.nav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.widget-wrapper {
  width: auto;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
}

.widget-wrapper.long {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 625px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
}

.widget-wrapper.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.widget-wrapper.bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  position: absolute;
  top: 100px;
  width: 1090px;
  height: 600px;
  max-width: 1090px;
  min-width: 1090px;
  margin: 10px;
  padding: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #fff;
}

.human {
  position: relative;
  z-index: 1;
  display: none;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.body-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: none;
  min-width: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.body-part {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 3;
  width: 100px;
}

.body-part.chest {
  width: 125px;
  margin-top: 100px;
  margin-left: 197px;
}

.body-part.head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  margin-top: 29px;
  margin-left: 231px;
}

.body-part.right-arm {
  display: block;
  overflow: visible;
  width: 95px;
  height: auto;
  margin-top: 137px;
  margin-left: 314px;
}

.body-part.left-arm {
  display: block;
  overflow: visible;
  width: 94px;
  height: auto;
  margin-top: 141px;
  margin-left: 114px;
}

.body-part.abdomen {
  width: 100px;
  margin-top: 212px;
  margin-left: 212px;
}

.body-part.groin {
  width: 98px;
  margin-top: 276px;
  margin-left: 212px;
}

.body-part.right-leg {
  display: block;
  width: 62px;
  margin-top: 309px;
  margin-left: 265px;
}

.body-part.left-leg {
  width: 62px;
  margin-top: 309px;
  margin-left: 195px;
}

.body-part.head-detailed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 295px;
  margin-top: 99px;
  margin-left: 124px;
}

.body-part.head-detailed.right-eye {
  width: 55px;
  margin-top: 279px;
  margin-left: 298px;
}

.body-part.head-detailed.left-eye {
  width: 55px;
  margin-top: 279px;
  margin-left: 189px;
}

.body-part.head-detailed.mouth {
  width: 100px;
  margin-top: 398px;
  margin-left: 224px;
}

.body-part.head-detailed.right-ear {
  width: 32px;
  margin-top: 275px;
  margin-left: 388px;
}

.body-part.head-detailed.left-ear {
  width: 32px;
  margin-top: 275px;
  margin-left: 116px;
}

.body-part.head-detailed.left-jaw {
  width: 65px;
  margin-top: 378px;
  margin-left: 152px;
}

.body-part.head-detailed.right-jaw {
  width: 65px;
  margin-top: 378px;
  margin-left: 321px;
}

.body-part.head-detailed.nose {
  width: 65px;
  margin-top: 283px;
  margin-left: 239px;
}

.body-part.head-detailed.forehead {
  width: 261px;
  margin-top: 104px;
  margin-left: 137px;
}

.body-part.head-detailed.neck {
  width: 312px;
  margin-top: 421px;
  margin-left: 111px;
}

.body-embed {
  width: 100%;
}

.part-name {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #9251f7;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.head-detail {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.selected-part-name {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
  color: #333;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.reset-selection {
  position: absolute;
  left: 40px;
  top: auto;
  right: auto;
  bottom: 210px;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(146, 81, 247, 0.2);
  color: #9251f7;
  text-decoration: none;
  text-transform: capitalize;
}

.back-to-start {
  position: absolute;
  left: 40px;
  top: auto;
  right: auto;
  bottom: 19%;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 5px;
  background-color: rgba(171, 168, 168, 0.24);
  text-decoration: none;
  text-transform: capitalize;
}

.text-block {
  text-align: center;
}

.text-block-2 {
  text-align: center;
}

.list {
  display: block;
  overflow: scroll;
  width: 91%;
  height: 100%;
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  list-style-type: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.symptom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  margin-bottom: 5px;
  padding: 5px 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0px;
}

.symptom:hover {
  padding-right: 10px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #9251f7;
  border-radius: 10px;
  background-color: #f4f0fb;
}

.symptom:active {
  background-color: #f5efff;
}

.symptom:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #9251f7;
  background-color: #f5efff;
}

.scale-field {
  width: 65px;
  height: 35px;
  margin-bottom: 0px;
  border-radius: 10px;
  background-color: #fff;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.symptom-text {
  padding-top: 0px;
  padding-bottom: 0px;
}

.add-symptom {
  width: 40px;
  height: 36px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: #9251f7;
  font-weight: 400;
  text-align: center;
}

.scale-submit {
  display: none;
  width: 120px;
  height: 38px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.directions {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 525px;
  height: 200px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  line-height: 15px;
}

.heading-2 {
  padding-right: 25px;
  padding-left: 25px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  text-transform: capitalize;
}

.success-message {
  margin-right: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #daf7e0;
  font-size: 10px;
}

.error-message {
  margin-top: 0px;
  margin-right: 5px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  border-radius: 10px;
}

.text-block-3 {
  font-size: 14px;
}

.controls {
  position: absolute;
  left: auto;
  top: 676px;
  right: 584px;
  bottom: auto;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ctrls {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 15%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 525px;
  height: 200px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-decoration: none;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px;
  background-color: #9251f7;
  font-weight: 400;
  text-align: center;
}

.image-2 {
  color: #8169a5;
}

.text-block-4 {
  display: none;
  margin-left: 10px;
  font-weight: 400;
}

.text-block-4:hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-5 {
  display: none;
  margin-left: 10px;
  color: #333;
  font-weight: 400;
}

.text-block-5:hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {
  .reset-selection {
    bottom: 20px;
  }

  .back-to-start {
    bottom: 20px;
  }
}

#w-node-af6b3c05-1a56-9997-e00c-ca32e613edb1-0c47bc09 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-af6b3c05-1a56-9997-e00c-ca32e613edb2-0c47bc09 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_5da85a94-9579-637c-09f2-7cb0da371976-0c47bc09 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  grid-area: Area-8;
}

#w-node-b3f8fae8-b2b2-649e-95f3-b88f10a734e4-0c47bc09 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_89a1d9bb-f3b4-f8bd-1ad6-67033c7daaef-0c47bc09 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 10000;
  -webkit-order: 9999;
  -ms-flex-order: 9999;
  order: 9999;
}

#w-node-_1987673c-f1fb-f761-31e6-b3182e0a68e5-0c47bc09 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  grid-area: Area-5;
}

